<!DOCTYPE html>

<html xmlns:th="https://thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
	<head>
		<title>CalculadoraApp</title> 
		 <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>		
	</head>
	
	 
	<body>
		<h1>Calculadora</h1>
		<h3><a href="/calculadoras" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Lista de calculadoras</a></h3>
		
		<div th:each="calculadora : ${calculadora}" class="container">
			<div class="row">
					<!-- span para acessar objeto-->
				<p>Eletronico: <span th:text="${calculadora.eletronico}"></span></p>
				<p>Potencia: <span th:text="${calculadora.potencia}"></span></p>
				<p>Dias: <span th:text="${calculadora.dias}"></span></p>
				<p>Horas: <span th:text="${calculadora.horas}"></span></p>
				<p>Taxa: <span th:text="${calculadora.taxa}"></span></p>
			</div>
			
		
				<form method="post">
						Tarifa: <input type="text" value"" name="taxa"/>
						UF: <input type="text" value"" name="uf"/>
						<button class="waves-effect waves-light btn" type="submit">Adicionar</button>
				</form>
			
		</div>
		
		<!--ta passando o objeto tarifa-->
		<div class="container" th:each="tarifa : ${tarifas}">
			<h5>Lista Taxas: </h5>
			<div class="row">
			<div class="input-field col s6">
				<p><span th:text="${tarifa.uf}"></span></p>
			</div>
			<div class="input-field col s6">
				<p><span th:text="${tarifa.taxa}"></span></p>
			</div>
			</div>
		</div>
	
	
	<!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	</body>
		
</html>