<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>CalculadoraApp</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <h1>Calculo de Energia</h1>
    <h3><a href="/calculadoras" class="waves-effect waves-light btn"><i
                class="material-icons left">format_list_bulleted</i>Lista de calculadoras</a></h3>
    <form class="container" action="/calculoEnergia" method="POST">
        <div class="input-fields-wrapper">
            <div class="input-field">
                Eletronico: <input type="text" value="" name="eletronico[]" />
            </div>
            <div class="row">
                <div class="input-field col s5">
                    Potencia: <input type="number" step="0.01" name="potencia[]" />
                </div>
                <div class="input-field col s2">
                    Dias: <input type="number" value="" name="diasMes[]" />
                </div>
                <div class="input-field col s2">
                    Horas: <input type="time" value="" name="horas[]" />
                </div>
                <div class="input-field col s2">
                    Taxa: <input type="number" value="" name="taxa[]" />
                </div>
            </div>
        </div>
        <button class="waves-effect waves-light btn" type="button" onclick="addFields()">Adicionar mais</button>
        <button class="waves-effect waves-light btn" type="submit">Salvar</button>
    </form>
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
    <script>
        function addFields() {
            var wrapper = document.querySelector(".input-fields-wrapper");
            var newFields = `
                <div class="input-field">
                    Eletronico: <input type="text" value="" name="eletronico[]" />
                </div>
                <div class="row">
                    <div class="input-field col s5">
                        Potencia: <input type="number" step="0.01" name="potencia[]" />
                    </div>
                    <div class="input-field col s2">
                        Dias: <input type="number" value="" name="diasMes[]" />
                    </div>
                    <div class="input-field col s2">
                        Horas: <input type="time" value="" name="horas[]" />
                    </div>
                    <div class="input-field col s2">
                        Taxa: <input type="number" value="" name="taxa[]" />
                    </div>
                </div>`;
            var newDiv = document.createElement("div");
            newDiv.innerHTML = newFields;
            wrapper.appendChild(newDiv);
        }
    </script>
</body>

</html>
