<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Calculadora At.Fisica </title>
    <link rel="icon" href="./multimidia/logo.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name=”description” content="A página é voltada para a conscientização do consumo de energia.">
    <link rel="stylesheet" href="./style/styleCalcGastoEnergPAtivPraticada.css">
  </head>
  <body>
    <header>
      <nav class="header-container">
        <div class="header-logo">
          <picture>
            <img src="./multimidia/logo.png" width=100px height="50px" alt="Logo Start Level">
          </picture>
        </div>
        <nav class="header-navigation">
          <ul>
            <li>
              <a href="./index2">Home</a>
            </li>
            <li>
              <a href="#" id="ferramentas">Calculadoras </a>
              <ul id="submenu">
                <li>
                  <a href="./CalcEficEnergetica">Eficiência energética</a>
                </li>
                <li>
                  <a href="./CalcGastoEnergPAtivPraticada">Gasto energético por atividade praticada</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="./quemSomos">Quem somos</a>
            </li>
          </ul>
        </nav>
      </nav>
    </header>
    <section class="calcGastoEnergPAtivPraticada">
      <div class="content">
        <h1>Calculadora de gasto energético por atividade praticada </h1>
        <p> Você já se perguntou quanto de energia você gasta durante suas atividades diárias? E já pensou em monitorar seu índice de massa corporal para ter uma noção de sua saúde e forma física? Agora você pode fazer isso de forma fácil e rápida! Nossa calculadora de gasto energético por atividade e análise do índice de massa corporal permite que você obtenha estimativas precisas sobre a quantidade de calorias queimadas durante diferentes atividades físicas, além de avaliar seu peso em relação à altura. <strong>Quer descobrir quantas calorias você gasta enquanto caminha, corre, nada ou faz qualquer outra atividade? Ou talvez você queira saber se seu peso está dentro da faixa saudável? Não perca tempo! Experimente agora mesmo nossa calculadora e tenha um melhor entendimento sobre seu corpo e seu gasto energético.</strong>
        </p>
      </div>

    
      <form id="linhaContainer" action="/calculoAtividade" method="POST">
        <div class="input-fields-wrapper">
        <fieldset>
          <select id="genero" name="genero" class="row" autocomplete="off" autofocus  required>
            <option disabled selected value="">Sexo biológico</option>
            <option value="Feminino">Feminino</option>
            <option value="Masculino">Masculino</option>
          </select>
          <input type="number" name="peso" placeholder="Seu peso (em Kg)" id="peso" class="row" min="1" autocomplete="off" required>
          <input type="number" name="altura" placeholder="Sua altura (em m)" id="altura" class="row" min="1" autocomplete="off" required>

          <select id="atividadeFisica" name="atividadeFisica" class="row" autocomplete="off" required>
            <option disabled selected value="">Atividade física - intensidade</option>
            <option value="Aerobico2">Aeróbico - moderada</option>
            <option value="Aerobico3">Aeróbico - intensa</option>
            <option value="AtivDomestica1">Atividade doméstica - leve</option>
            <option value="AtivDomestica2">Atividade doméstica  - moderada</option>
            <option value="AtivDomestica3">Atividade doméstica  - intensa</option>
            <option value="Basquete">Basquete - moderada</option>
            <option value="Caminhada1">Caminhada - leve</option>
            <option value="Caminhada2">Caminhada - moderada</option>
            <option value="Caminhada3">Caminhada - intensa</option>
            <option value="Corrida1">Corrida - leve</option>
            <option value="Corrida2">Corrida - moderada</option>
            <option value="Corrida3">Corrida - intensa</option>
            <option value="Ciclismo1">Ciclismo - leve</option>
            <option value="Ciclismo2">Ciclismo - moderada</option>
            <option value="Ciclismo3">Ciclismo - intensa</option>
            <option value="Diversos1">Diversos - leve</option>
            <option value="Diversos2">Diversos  - moderada</option>
            <option value="Diversos3">Diversos  - intensa</option>
            <option value="Futebol">Futebol - moderada</option>
            <option value="Inatividade">Inatividade - leve</option>
            <option value="LevPeso">Levantamento de peso - moderada</option>
            <option value="Natacao1">Natação - leve</option>
            <option value="Natacao2">Natação - moderada</option>
            <option value="Natacao3">Natação - intensa</option>
            <option value="Tenis">Tênis - moderada</option>
          </select>
          <input type="time" name="horas" placeholder="Tempo (em h)" id="horas" class="row" min="0" autocomplete="off" required>
  
          <button id="btnAdicionarLinha" type="button" onclick="addFields()">+</button>
         
        </fieldset>
        </div>
         <button id="calcular" type="submit">Calcular</button>
      </form> 
    </section>
    <section class="AjudaPreenchimento">
      <div class="content">
        <h2>Ficou em dúvida como preencher? </h2>
        <p> Confira abaixo as diferentes intensidades por atividade praticada e aproveite para experimentar novas formas de se exercitar. Além disso, descubra como pode queimar ainda mais calorias ao experimentar outras atividades físicas!
        </p>
      </div>
      <picture class="ContentAtivFisica">
        <img src="./multimidia/Ferramentas/intensidadeAtividades 1.png" width=1000px height="1080px" alt="Tabela de intensidade das atividades físicas">
      </picture>
      
    </section>
    <footer>
      <p class="breve-footer" style="color: white;">Start Level 2023 | <strong>Development for Level up!</strong>
      </p>
      <a class="github" href="https://github.com/StartLevel">
        <img src="./multimidia/contact/github.webp" width="18px" height="21px" alt="github">
      </a>
    </footer>
    
    <script>
        function addFields() {
            var wrapper = document.querySelector(".input-fields-wrapper");
            var newFields = `
               <fieldset>
          

          <select id="atividadeFisica" name="atividadeFisica" class="row" autocomplete="off" required>
            <option disabled selected value="">Atividade física - intensidade</option>
            <option value="Aerobico2">Aeróbico - moderada</option>
            <option value="Aerobico3">Aeróbico - intensa</option>
            <option value="AtivDomestica1">Atividade doméstica - leve</option>
            <option value="AtivDomestica2">Atividade doméstica  - moderada</option>
            <option value="AtivDomestica3">Atividade doméstica  - intensa</option>
            <option value="Basquete">Basquete - moderada</option>
            <option value="Caminhada1">Caminhada - leve</option>
            <option value="Caminhada2">Caminhada - moderada</option>
            <option value="Caminhada3">Caminhada - intensa</option>
            <option value="Corrida1">Corrida - leve</option>
            <option value="Corrida2">Corrida - moderada</option>
            <option value="Corrida3">Corrida - intensa</option>
            <option value="Ciclismo1">Ciclismo - leve</option>
            <option value="Ciclismo2">Ciclismo - moderada</option>
            <option value="Ciclismo3">Ciclismo - intensa</option>
            <option value="Diversos1">Diversos - leve</option>
            <option value="Diversos2">Diversos  - moderada</option>
            <option value="Diversos3">Diversos  - intensa</option>
            <option value="Futebol">Futebol - moderada</option>
            <option value="Inatividade">Inatividade - leve</option>
            <option value="LevPeso">Levantamento de peso - moderada</option>
            <option value="Natacao1">Natação - leve</option>
            <option value="Natacao2">Natação - moderada</option>
            <option value="Natacao3">Natação - intensa</option>
            <option value="Tenis">Tênis - moderada</option>
          </select>
          <input type="time" name="horas" placeholder="Tempo (em h)" id="horas" class="row" min="0" autocomplete="off" required>
						
			</fieldset>`;
            var newDiv = document.createElement("div");
            newDiv.innerHTML = newFields;
            wrapper.appendChild(newDiv);
        }
    </script>
    
  </body>
</html>