<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Seu gasto calorico</title>
</head>
<body>
<h1>Resultado do Gasto Calórico</h1>
<p>Ativida Física: <span th:text="${atividadeFisica}"></span></p>
<p>Genêro: <span th:text="${genero}"></span></p>
<p>Duração: <span th:text="${horas}"></span></p>
<p>Peso: <span th:text="${peso}"></span> Kg</p>
<p>Altura: <span th:text="${altura}"></span> m</p>
<p>Você gastou : <span th:text="${gastoCalorico}"></span> Kcal</p>
</body>
