<!DOCTYPE html>
<html lang="en">
<head>
     <title>Seus Resultados </title>
    <link rel="icon" href="./multimidia/logo.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name=”description” content="A página é voltada para a conscientização do consumo de energia.">
    <link rel="stylesheet" href="./style/styleResultCalcEficEnergetica.css">
    <style>
        table {
            border-collapse: collapse;
            width: 50%;
            border-spacing: 8px; /* Espaçamento entre as células */
            left: 400px;
        }

        th, td {
            padding: 12px; /* Espaçamento interno das células */
            text-align: left;
        }

        thead {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        
        
    </style>
    
   <script src="./Chart.min.js"></script>


    
</head>
<body>
	
	
	
	
	 <header>
      <nav class="header-container">
         <div class="header-logo">
          <picture><img src="./multimidia/logo.png" width=100px height="50px" alt="Logo Start Level">
          </picture>
        </div>
        <nav class="header-navigation">
          <ul>
            <li>
              <a href="./">Home</a>
            </li>
            <li>
              <a href="#" id="ferramentas">Calculadoras </a>
              <ul id="submenu">
                <li>
                  <a href="./CalcEficEnergetica">Eficiência energética</a>
                </li>
               
              </ul>
            </li>
            <li>
              <a href="./quemSomos">Quem somos</a>
            </li>
          </ul>
        </nav>
      </nav>
     
   

      
      
      
        


    </header>
    
     
    
    <div class="resultos">
      <h2>Resultado por equipamento</h2>
    <table id="tabelaCalculadoras">
        <thead>
            <tr>
                <th>Equipamento</th>
                <th>Potência (W)</th>
                <th>Horas Utilizadas</th>
                <th>Dias Utilizados/Mês</th>
                <th>Valor diario (R$)</th>
            </tr>
        </thead>
        <tbody>
            <!-- Itera sobre a lista de calculadoras e exibe os resultados -->
            <tr th:each="calculadora, itemIndex : ${calculadoras}">
                <td th:text="${calculadora.equipamento}"></td>
                <td th:text="${calculadora.potencia}"></td>
                <td th:text="${calculadora.horas}"></td>
                <td th:text="${calculadora.diasMes}"></td>
                <td th:text="${calculadora.consumoMensal}"></td>
                
            </tr>
        </tbody>
      
    </table>
    
    <h2>Resultado de todos equipamentos juntos</h2>
     <table>
        <thead>
            <tr>
                <th>Potência Total (W)</th>
                <th>Valor diario Total (R$)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td th:text="${potenciaTotal}"></td>
                <td th:text="${consumoTotal}"></td>
            </tr>
        </tbody>
    </table>
    
   

   
    
  <section id="tabela">
    <div class="content">
        <h1>Calculadora de eficiência energética</h1>
        <p>Prepare-se para se surpreender com a compilação dos resultados abaixo!</p>
    </div>
    <div style="max-width: 800px; margin: 0 auto;">
        <canvas id="myChart"></canvas>
    </div>
</section>
    
    
    
    
    <section class="EquipamentoKwhTempo">
      <h2>Confira na tabela abaixo os equipamentos que apresentam maior consumo de energia, expresso em kWh por tempo de uso, no gráfico a seguir:</h2>
      <picture class="GraficoEquipamentos">
        <img src="./multimidia/Ferramentas/EquipamentoKwhTempo.svg" width=830px height="562px" alt="Consumo dos equipamentos em kwh por tempo de uso">
      </picture>
      <p class="fonte">Fonte: www.eletrobras.com</p>
    </section>
  
    
   
    
      <footer>
      <p class="breve-footer" >Start Level 2023 | <strong>Development for Level up!</strong>
      </p>
      <a class="github" href="https://github.com/StartLevel">
        <img src="./multimidia/contact/github.webp" width="18px" height="21px" alt="github">
      </a>
    </footer>
    
    
  <script th:inline="javascript">
       // Obtém a tabela pelo id
    const tabela = document.getElementById('tabelaCalculadoras');

    // Cria um array para armazenar os dados
    const dataArray = [];

    // Itera pelas linhas da tabela (ignorando o cabeçalho)
    for (let i = 1; i < tabela.rows.length; i++) {
        const row = tabela.rows[i];
        
        // Extrai os valores das células e adiciona ao array
        const equipamento = row.cells[0].innerText;
        const potencia = parseFloat(row.cells[1].innerText);
        const horas = parseFloat(row.cells[2].innerText);
        const diasMes = parseFloat(row.cells[3].innerText);
        const consumoMensal = parseFloat(row.cells[4].innerText);

        // Cria um objeto com os dados da calculadora
        const calculadora = {
            equipamento,
            potencia,
            horas,
            diasMes,
            consumoMensal
        };

        // Adiciona o objeto ao array
        dataArray.push(calculadora);
    }
    
    
    // Cria arrays para armazenar os nomes dos equipamentos e seus consumos mensais
const nomesEquipamentos = [];
const consumosMensais = [];

// Percorre o array dataArray
for (const calculadora of dataArray) {
    // Extrai o nome do equipamento e o consumo mensal e adiciona aos arrays correspondentes
    nomesEquipamentos.push(calculadora.equipamento);
    consumosMensais.push(calculadora.consumoMensal);
}




  /* Configurações do gráfico */
        var data = {
            labels: nomesEquipamentos,
            datasets: [
                {
                    label: 'Consumo Mensal',
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1,
                    data: consumosMensais
                }
            ]
        };

        var options = {
            responsive: true,
            maintainAspectRatio: false
        };

        /* Renderiza o gráfico */
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: data,
            options: options
        });
    
    
    </script>

</body>
</html>
