<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title>Resultado At.Fisica </title>
	<link rel="icon" href="./multimidia/logo.png">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name=”description” content="A página é voltada para a conscientização do consumo de energia.">
	<link rel="stylesheet" href="./style/styleResultCalcGastoEnergPAtivPraticada.css">
</head>

<body>
	<header>
		<nav class="header-container">
			<div class="header-logo">
				<picture>
					<img src="./multimidia/logo.png" width=100px height="50px" alt="Logo Start Level">
				</picture>
			</div>
			<nav class="header-navigation">
				<ul>
					<li>
						<a href="./index2">Home</a>
					</li>
					<li>
						<a href="#" id="ferramentas">Calculadoras </a>
						<ul id="submenu">
							<li>
								<a href="./CalcEficEnergetica">Eficiência energética</a>
							</li>
							<li>
								<a href="./CalcGastoEnergPAtivPraticada">Gasto energético por atividade praticada</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="./quemSomos">Quem somos</a>
					</li>
				</ul>
			</nav>
		</nav>
	</header>
	<section class="calcGastoEnergPAtivPraticada">
		<div class="content">
			<h1>Calculadora de gasto energético por atividade praticada </h1>
			<div class="paragrafos">
				<p> Ei, seu relatório chegou! Confira abaixo:<br><br></p>
				<p class="result">
				<div style="display: flex; flex-direction: column; align-items: center; font-size: 23px;">
					<label style="color: yellow;">Atividade Física: <span th:text="${atividadeFisica}"></span></label>

					<label style="color: yellow;">Duração: <span th:text="${horas}"></span></label>
					<p></p>

					<p></p>
					<label style="color: yellow;">Você gastou: <span th:text="${gastoCalorico}"></span> Kcal/h</label>
					<p></p>

					<p></p>
					<label style="color: yellow;">IMC: <span th:text="${imc}"></span></label>
					<p></p>
				</div>
				<p> Através da calculadora de gasto calórico, foi possível estimar a quantidade de energia foi
					necessária para realizar todas as suas atividades físicas. Ao ter conhecimento desses dados, <u> é
						possível fazer escolhas mais conscientes e eficientes em relação ao gasto energético,
						considerando tanto o impacto no meio ambiente quanto de sua própria saúde</u>.
				</p>
				<p>Além disso, <u>a análise do índice de massa corporal permite avaliar se seu peso está dentro de
						faixas saudáveis, contribuindo para a prevenção de doenças relacionadas à obesidade e ao
						sedentarismo</u>. Ao entender o próprio IMC e os riscos associados a ele, pode-se adotar medidas
					para alcançar um peso saudável, como a prática regular de exercícios físicos e uma alimentação
					equilibrada.</p>
				<picture class="ContentIMC">
					<img src="./multimidia/Ferramentas/imcFem.jpeg" class="alinhandoLateralIMC" width=700px
						height="410px" alt="Tabela de IMC para o sexo feminino.">
					<br>
					<br>
					<img src="./multimidia/Ferramentas/imcMasc.jpeg" width=700px height="410px"
						alt="Tabela de IMC para o sexo feminino.">
				</picture>
			</div>
		</div>
	</section>
	<section class="conclusiva">
		<picture class="ContentIMC">
			<img src="./multimidia/Ferramentas/ecologia (1).png" class="abracoGlobo" width="436px" height="412px"
				alt="Tabela de IMC para o sexo feminino.">
		</picture>
		<div class="paragrafoconclusivo">
			<p> Dessa forma, <mark> utilizar a calculadora de gasto calórico e a análise do IMC, pode-se unir a
					preocupação com o consumo eficiente de energia elétrica à sua saúde e bem-estar.</mark> <u>Ao tomar
					consciência dos impactos de suas escolhas cotidianas, pode-se promover mudanças positivas tanto para
					si quanto para o meio ambiente, visando um futuro mais sustentável e saudável</u>. </p>
		</div>
	</section>
	<footer>
		<p class="breve-footer" style="color: white;">Start Level 2023 | <strong>Development for Level up!</strong>
		</p>
		<a class="github" href="https://github.com/StartLevel">
			<img src="./multimidia/contact/github.webp" width="18px" height="21px" alt="github">
		</a>
	</footer>
</body>

</html>