<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Start Level - A energia vai salvar sua vida </title>
    <link rel="icon" href="./multimidia/DeOlho.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name=”description” content="A página é voltada para a conscientização do consumo de energia.">
    <link rel="stylesheet" href="./style/styleIndex.css">
  </head>
  <body>
    <header>
      <nav class="header-container">
         <div class="header-logo">
          <picture><img src="./multimidia/Deolho.png" width=50px height="40px" alt="Logo Start Level" loading="lazy">
          </picture>
        </div>
        <nav class="header-navigation">
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li> 
                  <a href="/CalcEficEnergetica">Eficiência energética</a>
                </li>
            <li>
              <a href="/quemSomos">Quem somos</a>
            </li>
          </ul>
        </nav>
      </nav>
    </header>
    <section>
      <picture class="placaSolar">
        <img src="./multimidia/placaSolar.jpg" width=1518px height="660px" alt="Placa Solar" loading="lazy" />
      </picture>
      <div class="containerAfirmativo">
        <h1 id="fraseAfirmativa">Desperte o poder da sua consciência: economizar energia é acender a chama da sustentabilidade e iluminar um mundo mais brilhante para as futuras gerações!</h1>
      </div>
    </section>
    <section class="PorQueEconomizar">
      <div class="content">
        <h2>Por que economizar energia?</h2>
        <br>
        <br>
        <br>
        <br>
        <p class="recuo">Economizar energia é crucial por diversos motivos. <span>A energia é um recurso limitado e sua produção, muitas vezes, envolve processos que causam impactos ambientais negativos</span>. Além disso, o uso eficiente reduz a emissão de gases de efeito estufa e impacta positivamente na saúde física, o que contribui para a <strong>mitigação das mudanças climáticas, a preservação dos recursos naturais, e, bem-estar </strong>no cotidiano. Tal fato também proporciona <strong>benefícios financeiros</strong> aos que adotam a postura do consumo sustentável, uma vez que reduz os gastos com eletricidade. Portanto, ao adotar práticas de eficiência energética e do consumo consciente, promove-se inúmeros benefícios de alto alcance e relevância, além dos fatores supracitados estarem em consonância com os objetivos da Organização das Nações Unidas <i>(ONU)</i>. <br>
          <br>Vamos ser eficientes e sustentáveis? <br>
          <br>Confere abaixo o vídeo produzido pela ONU no ano de 2023.
        </p>
      </div>
      <picture class="engrenagemSustentavel">
        <img src="./multimidia/eco.gif" width="436px" height="412px" alt="Mundo funcionando como uma engrenagem sustentável" loading="lazy">
      </picture>
    </section>
    <section class="Dinossauro">
      <iframe width="1518" height="720" src="https://www.youtube.com/embed/XhGvZEc0p3I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen loading="lazy"></iframe>
    </section>
    <section class="conviteFerramentas">
      <picture class="equipeMotivacional">
        <img src="./multimidia/equipe.jpg" width="450px" height="500px" alt="Equipe" loading="lazy">
      </picture>
      <div class="conviteFerramentasConteudo">
        <h3>Agora, quero fazer um convite a você!</h3>
        <br>
        <br>
        <br>
        <br>
        <p class="recuo">Convido você a se desligar da maneira que você vive para que você possa se permitir viver uma experiência singular. Descubra seu potencial de economia de energia e otimize sua rotina com nossas ferramentas personalizadas: a Calculadora Energética e o Gastos Energéticos por Atividade Praticada! Quer saber quanto você pode economizar em sua conta de luz? Ou talvez quantas calorias você queima em sua atividade física favorita? Nosso sistema customizado tem todas as respostas - responda algumas perguntas simples abaixo e comece a economizar e se manter em forma! <br>
          <br>
          <br>
          <b>Você está preparado? </b>
        </p>
      </div>
      <div class="button">
        <button>
          <a href="./CalcEficEnergetica"> Calcular minha eficiência energética</a>
        </button>
      </div>
    </section>
    <section class="dicasQuePoupam">
      <h4>Dicas que poupam no lazer e no dia a dia</h4>
      <div class="dicasEsquerda">
        <picture class="containerPicture">
          <img src="./multimidia/ciclismo.gif" width="150px" height="170px" alt="Dicas que poupam energia e melhoram o funcionamento do ecossistema: ciclismo" loading="lazy">
          <b>Ciclismo</b>
        </picture>
      </div>
      <div class="dicaMeio">
        <picture class="containerPicture">
          <img src="./multimidia/energia-das-mares.gif" width="150px" height="170px" alt="Dicas que poupam energia e melhoram o funcionamento do ecossistema: nadar" loading="lazy">
        </picture>
        <b class="aParte">Nadar</b>
      </div>
      <div class="dicasDireita">
        <picture class="containerPicture">
          <img src="./multimidia/forca-do-vento.gif" width="130px" height="130px" alt="Dicas que poupam energia e melhoram o funcionamento do ecossistema: tomar ar fresco" loading="lazy">
        </picture>
        <b id="junto">Tomar ar fresco</b>
      </div>
      <div class="dicasEsquerda2">
        <picture class="containerPicture">
          <img src="./multimidia/bateria-solar.gif" width="140px" height="150px" alt="Dicas que poupam energia e melhoram o funcionamento do ecossistema: placa solar" loading="lazy">
        </picture>
        <b id="junto">Placa solar</b>
      </div>
      <div class="dicasDireita2">
        <picture class="containerPicture">
          <img src="./multimidia/eco-car.gif" width="140px" height="150px" alt="Dicas que poupam energia e melhoram o funcionamento do ecossistema: automóvel elétrico" loading="lazy">
        </picture>
        <b class="separado">Automóvel elétrico</b>
      </div>
    </section>
    <footer>
      <p class="breve-footer" style="color: white;">Start Level 2023 | <strong>Development for Level up!</strong>
      </p>
      <a class="github" href="https://github.com/StartLevel">
        <img src="./multimidia/contact/github.webp" width="18px" height="21px" alt="github" loading="lazy">
      </a>
    </footer>
  </body>
</html>