<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Teste do Quem somos </title>
    <link rel="icon" href="./multimidia/logo.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name=”description” content="A página é voltada para a conscientização do consumo de energia.">
    <link rel="stylesheet" href="./style/styleQuemSomos.css">
  </head>
  <body>
    <header>
      <nav class="header-container">
        <div class="header-logo">
          <picture><img src="./multimidia/logo.png" width=100px height="50px" alt="Logo Start Level">
          </picture>
        </div>
        <nav class="header-navigation">
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a id="ferramentas">Calculadoras </a>
              <ul id="submenu">
                <li>
                  <a href="/CalcEficEnergetica">Eficiência energética</a>
                </li>
               
              </ul>
            </li>
            <li>
              <a href="/quemSomos">Quem somos</a>
            </li>
          </ul>
        </nav>
      </nav>
    </header>
    <picture class="logo-gif">
      <img src="./multimidia/logo.svg" width=608px height="266px" alt="Logo Start Level" />
    </picture>
    <section class="quem-somos">
      <picture class="globo-gif">
        <img src="./multimidia/terra-ecologica.gif" width=300px height="300px" alt="Mundo sustentável">
      </picture>
      <div class="content">
        <h1>Quem somos</h1>
        <br>
        <br>
        <br>
        <p>Somos uma empresa inovadora dedicada a fornecer soluções sustentáveis ​​e eficientes em energia. Buscamos constantemente desenvolver tecnologias e estratégias que reduzam o consumo de energia e promovam a transição para fontes renováveis. Nossa missão é alertar a população pernambucana sobre os impactos da má gestão da energia, de forma a conscientiza-los e oferecer dicas que não apenas atendam às necessidades energéticas dos usuários de forma eficiente, mas também contribuam para a preservação do meio ambiente e o alcance dos objetivos globais de desenvolvimento sustentável. Estamos comprometidos em conscientizar a população de modo a agir local pensando global de forma a impulsionar uma mudança positiva em direção a um futuro mais limpo e próspero. </p>
      </div>
    </section>
    <section class="pilares-Start">
      <h2>Pilares do Start Level</h2>
      <div class="ODS">
        <picture class="img-ods">
          <img src="./multimidia/ODS/13.png" width=195px height="197px" alt="ODS 13 - Ação contra a mudança global do clima">
        </picture>
        <picture class="img-ods">
          <img src="./multimidia/ODS/12.png" width=195px height="197px" alt="ODS 12 - AConsumo e produção responsáveis">
        </picture>
        <picture class="img-ods">
          <img src="./multimidia/ODS/7.png" width=195px height="197px" alt="ODS 7 - Energia Acessível e Limpa">
        </picture>
        <picture class="img-ods">
          <img src="./multimidia/ODS/3.png" width=195px height="197px" alt="ODS 3 - Saúde e Bem-estar">
        </picture>
      </div>
      <p class="fonte">Fonte das imagens: <strong>
          <i>ONU.</i>
        </strong>
      </p>
    </section>
    <section class="equipe">
      <h3>Equipe</h3>
      <div class="general-person">
        <div class="firsts-person">
          <picture class="profile-img">
            <img src="./multimidia/Equipe/MClara.png" width="242px" height="240px" alt="Maria Clara Lemoine Soares Paes">
          </picture>
          <b id="PO">Maria Clara Lemoine Soares Paes</b>
          <div class="functionsAndcontact">
            <p class="funtions">Product Owner, User Experience Testing, User Experience / User Interface design, Front end developer</p>
            <nav class="contact">
              <a class="social-midia" href="https://www.linkedin.com/in/maria-c-paes/">
                <img src="./multimidia/contact/linkedin.webp" width="28px" height="30px" alt="linkedin">
              </a>
              <a class="social-midia" href="mailto:mariaclaralemoine@outlook.com">
                <img src="./multimidia/contact/email.webp" width="31px" height="30px" alt="email"> </a>
            </nav>
          </div>
        </div>
        <div class="second-person">
          <picture class="profile-img">
            <img src="./multimidia/Equipe/J.Adeilton.png" width="242px" height="240px" alt="José Adeilton da Silva">
          </picture>
          <b>José Adeilton da Silva</b>
          <div class="functionsAndcontact">
            <p class="funtions">Database Administrator, Back-end Developer, Quality Assurance</p>
            <nav class="contact">
              <a class="social-midia" href="https://www.linkedin.com/in/joseadeilton/">
                <img src="./multimidia/contact/linkedin.webp" width="28px" height="30px" alt="linkedin">
              </a>
              <a class="social-midia" href="mailto:i1iadeilton@gmail.com">
                <img src="./multimidia/contact/email.webp" width="31px" height="30px" alt="email">
              </a>
            </nav>
          </div>
        </div>
        <div class="firsts-person">
          <picture class="profile-img">
            <img src="./multimidia/Equipe/Renan.png" width="242px" height="240px" alt="Renan Arthur do Nascimento Campêlo">
          </picture>
          <b>Renan Arthur do Nascimento Campêlo</b>
          <div class="functionsAndcontact">
            <p class="funtions">Analista de requisitos, QA</p>
            <nav class="contact">
              <a class="social-midia" href="mailto:rancampelo@gmail.com">
                <img src="./multimidia/contact/email.webp" width="31px" height="30px" alt="email">
              </a>
            </nav>
          </div>
        </div>
        <div class="second-person">
          <picture class="profile-img">
            <img src="./multimidia/Equipe/Tairone.png" width="242px" height="240px" alt="Tairone Albuquerque Nascimento de Oliveira">
          </picture>
          <b>Tairone Albuquerque Nascimento de Oliveira</b>
          <div class="functionsAndcontact">
            <p class="funtions">Analista de requisitos, QA</p>
            <nav class="contact">
              <a class="social-midia" href="https://www.linkedin.com/in/taironealb/">
                <img src="./multimidia/contact/linkedin.webp" width="28px" height="30px" alt="linkedin">
              </a>
              <a class="social-midia" href="mailto:tairone.2001@gmail.com">
                <img src="./multimidia/contact/email.webp" width="31px" height="30px" alt="email">
              </a>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <p class="breve-footer" style="color: white;">Start Level 2023 | <strong>Development for Level up!</strong>
      </p>
      <a class="github" href="https://github.com/StartLevel">
        <img src="./multimidia/contact/github.webp" width="18px" height="21px" alt="github">
      </a>
    </footer>
  </body>
</html>